<div class="section__subtitle">
  <h3>{{title}}</h3>
</div>
<ul>
  {{#each (await element) as |item|}}
    <li>{{item}}</li>
  {{/each}}
</ul>
{{popup-component buttonId=popupButtonId conceptScheme=conceptScheme}}
