<div class='note-dialog'>
  <button type="button" id= {{buttonId}} title= {{buttonTitle}} {{action 'togglePopup'}}>+</button>

  {{#if displayPopup}}
    {{#tether-dialog close='togglePopup' hasOverlay=false clickOutsideToClose=true target=(dialog-target-generator buttonId) targetAttachment='bottom right' attachment='top left' container-class=popupClasses}}
      {{popup-content elements=elements conceptScheme=conceptScheme}}
    {{/tether-dialog}}
  {{/if}}
</div>
