<div class='note-dialog'>
  <button type="button" {{action 'filterConcepts'}}>Link</button>
  <button type="button">Create</button>
  <input type="text" value= {{filter}} placeholder="Search / filter" onkeyup= {{action "textContentModified"}} />

  {{#if searchResults}}
    {{searchResults}}
  {{/if}}
</div>
