<div class='popup'>
  <button type="button" class='link'>Link</button>
  <button type="button" class='create'>Create</button>
  <input type="type" value= {{filter}} placeholder="Search / filter" onkeyup= {{action "textContentModified"}} />

  {{#if searchResults}}
    <div class='results'>
      {{popup-content-result searchResults=searchResults}}
    </div>
  {{/if}}
</div>
