<div class="hierarchies">
  <div class="section__title" {{action 'showElements'}}>
    <h2><span>{{title}}</span></h2>
  </div>
  {{#if showHierarchyElements}}
    <div class="section__body">
      {{hierarchy-element title="Broader" direction='broader' concept=concept buttonId=title}} {{hierarchy-element title="Narrower" direction='narrower' concept=concept buttonId=title}}
    </div>
  {{/if}}
</div>
