{{#if concept.altLabels}}
  <h3 class="description-display-label">Non-preferred terms</h3>
  <ul>
    {{#each concept.defaultAltLabels as |label|}}
      <li>{{first-to-uppercase label.literalForm}}<button class='quest-btn' {{action 'goToQuest' label.literalForm}}></button></li>
    {{/each}}
  </ul>
{{/if}}
