<ul>
  {{#each concept.altLabels as |label|}}
    <li>{{first-to-uppercase label.literalForm}}<a class='quest-btn' href= {{quest-link-generator label.literalForm targetLanguage}} target="_blank">Q</a></li>
  {{/each}}
</ul>
